# Disable Git line ending conversion, to prevent packwiz index hashes changing when committing from Windows
* -text

# Show the generated packwiz index folded in GitHub's diffs
Packwiz/index.toml linguist-generated=true
