# Exclude exported CurseForge zip files
/Packwiz/*.zip
/Packwiz/*/*.zip
/Server Pack/*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude other
/Packwiz/*/packwiz-installer.jar
/Packwiz/*/mmc-cache